<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hamza Ilsoo Wedding</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		{% load static %}
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'access/css/style.css' %}"> -->

		{% block stylesheet %}
		<style>
			@font-face {
				font-fmaily: 'Memimas';
				font-style: normal;
				font-weight: bold;
				src: url("{% static 'fonts/Memimas-Bold.ttf'%} format('truetype')");
			}
		</style>
		{% endblock %}

  </head>
  <body style="background-color: black;">
					{% block content %}
					{% endblock %}

		<footer role="footer">
			{% block footer %}
			{% endblock %}
		</footer>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
