{% extends 'access/base.html' %}
{% block stylesheet %}
<style>

  .fontChoice{
    color: #D4AF37;
    font-family: "Memimas";
    font-size: 25pt;
    font-weight: bold;
  }

  img {
    position: static;
    height: 100%;
    width: auto;
    padding-bottom: 0;
  }

  div.inputBox {
    position: fixed;
    margin-top: -100vh;
    width: 100vw;
    height: 100vh;
  }

  form{
      position:absolute;
      width: 100vw;
      bottom: 2vh;
      margin-left: 10%;
  }

  input {
    align: left;
    left: 0;
  }

  /* password */
  input.pwBox {
    width: 200px;
    height: 200%;
    font-size: 20pt;
    font-weight: bold;
  }
  input.btnBox {
    /* margin-top: 15pt; */
    /* padding: 5pt; */
    padding: 0;
    width: 25mm;
    height: 12mm;
  }

  /* submit button */
  .btn:hover {
    background-color: #D4AF37;
    color: black;
  }

  .btnFont {
    background-color: black;
    color: #D4AF37;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-variant:small-caps;
    vertical-align: middle;
  }


  /* body */
  div.bodyContainer {
      align: center;
      text-align: center;
      margin: auto;
      height: 100vh;
      position: relative;
  }

  form.centeringContent{
      align: center;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 50%;
      margin-right: -5 */0%;
      transform: translate(-50%, -50%);
  }

</style>
{% endblock %}

{% block content %}

<div class = "bodyContainer fontChoice" align="center" >
  <!-- <label class="control-label" for="guest_pw"></label> -->
  {% load static %}
  <img src="{% static 'access/img/lePetitHammy.png' %}" alt="indexImg" class="">

  <div class="inputBox">
    <form class="" action = "/open/" method = "POST" name="AccessForm"> <!-- class: centeringContent-->

      {% csrf_token %}
      <input type="text" class="pwBox" id="guest_id" name="invitation_id" placeholder="Username" required> 
      <input type="password" class="pwBox" id="guest_pw" name="invitation_pw" placeholder="Password" required>
      <!-- <input type="submit" value="" class="btnOpen"/> -->
      <input type="submit" class="btn btnBox btnFont" value="OPEN" />

    </form>
  </div>
</div>

{% endblock %}
