<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hamza Ilsoo Wedding</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		{% load static %}

		<!-- Style -->
		<style>

			.bgImg {
			  background: url('/static/invitation/img/bodycontainer2.jpg') no-repeat;
			  background-size: cover;
			  background-position: top;
			  width: 100vw;
			  min-width: 1000px;

			}

			body.bodyStyle{
			  background-color: black;
			  color: white;
			  margin-bottom: 50px;
			}

			.wDivider {
			  background-color: #D4AF37;
			  width: 0.1%;
			  height: 95vh;
			  position: fixed;
			}

			.wDividerLeft { left: 0; top: 0; }

			.wDividerRight { right: 0; bottom: 0; }

			.wDividerCenter{
			  padding-left: 15%;
			  padding-right: 15%;
			}

			.hDivider {
			  background-color: #D4AF37;
			  height: 0.1%;
			  position: fixed;
			}

			.hDividerTop { right: 0; top: 0; }

			.hDividerBottom { left: 0; bottom: 0; }

			/* Content Box */

			.headerLocation {
			  background-color: black;
			  position: absolute;
			  width: 70%;
			  top: 0;
			  margin-top: 45px;
			  vertical-align: middle;
			  text-align: right;
			}

			.MainLocation{
			  position: fixed;
			  overflow: auto;
			  margin-top: 110px; /* END of MENU*/
			  margin-bottom: 50px; /* FOOTER */
			  padding-top: 10px;
			  padding-bottom: 10px;
			  width: 70%;
			  height: calc(100% - 160px);
			  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
			  font-weight: 700;
			  font-size: calc(8pt + 2vw);
			  font-style: normal;
			  font-variant: normal;
			  text-align: center;
			}
			.mainStyle {
			  padding-top: 2%;
			  padding-left: 2%;
			  padding-right: 2%;
			  padding-bottom: 2%;
			  align: center;
			}

			/* ****************** */
			/*    FOOTER STYLE    */
			/* ****************** */

			.footerStyle {
			  background-color: black;
			  position: fixed;
			  bottom: 0;
			  width:70%;
			  height: 30px;
			  text-align: center;
			  vertical-align: middle;
			  margin-top: 10px;
			  margin-bottom: 10px;
			}

			.footerStyle p {
			  font-family: inherit;
			  font-style: normal;
			  font-variant: normal;
			  font-size: calc(8pt + 0.5vw);
			  padding-left: 0px;
			  padding-top: 0px;
			  text-align: center;
			  vertical-align: middle;
			}

			.footerStyle p a{
			  margin-bottom: 5px;
			  font-size: 110%;
			  color: orange;
			}

			textarea {
			  min-width: 350px;
			  min-height: 120px;
			  max-width: 350px;
			  max-height: 200px;
			}

			/**************/
			/* Container  */
			/**************/

			/* verical centering */
			.vcenter {
			  top: 50%;
			  transform: translate(0, -50%);
			}

			/* horizontal centering */
			.hcenter {
			  left: 50%;
			  margin-right: -50%;
			  transform: translate(-50%, -50%);
			  align-items: center;
			  display:flex;
			  justify-content: center;
			}

			/*********************/
			/*       FONTS       */
			/*********************/

			table {
			  border-spacing: 10px;
			  width: 100%;
			}

			tr {
			  margin-bottom: 10px;
			}

			th {
			  padding-right: 10px;
			  padding-bottom: 20px;
			  font-size: calc(8pt + 1.2vw);
			  font-weight: normal;
			  vertical-align: middle;
			}

			th.labeling {
			  font-size: calc(8pt + 1.5vw);
			  font-weight: bold;
			  padding-left: 45px;
			  width: 200px;
			  text-align: right;
			  vertical-align: middle;
			}

			table tr th ul { list-style-type: none; }
			div.info {
			  color: white;
			  font-size: calc(10pt + 0.6vw);
			  text-align: center;
			}

			h1 {
			  color: #D4AF37;
			  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
			  font-size: calc(10pt + 6.3vw);
			  font-variant:small-caps;
			  line-height: normal;
			  padding-bottom: 3vh;
			}

			h3 {
			  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
			  line-height: normal;
			  font-size: calc(8pt + 1.7vw);
			  text-decoration: underline;
			  padding-top: 3vh;
			  padding-bottom: 3vh;
			}

			h5 {
			  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
			  font-size: calc(8pt + 0.9vw);
			  line-height: normal;
			  font-weight: normal;
			  margin-bottom: 1vh;
			}

			b { color: #B08F26; }

		</style>
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'invitation/css/style.css' %}"> -->
		<link href="//db.onlinewebfonts.com/c/41cd42bd029db301a4207376ced4fc45?family=Fine+Blackboard" rel="stylesheet" type="text/css"/>

		{% block stylesheet %}
		{% endblock %}

  </head>
  <body class=" bodyStyle"> <!--bgImg-->
		<!-- LEFT -->
		<div class="wDivider wDividerLeft" style="margin-left: 14.0%;"></div>
		<div class="wDivider wDividerLeft" style="margin-left: 14.4%;"></div>

		<!-- CENTRE -->
		<div class="wDividerCenter">

			<!-- NAVIGATION -->

			<header class ="navbar flex-column flex-md-row headerLocation" >
					{% include 'invitation/navbar.html' %}
			</header>
			<div class="hDivider hDividerTop" style="width: 20vw; margin-top: 44px"></div>
			<div class="hDivider hDividerTop" style="width: 46vw ; margin-top: 101px; margin-right: 13%;"></div>

			<!-- CONTENT -->

			<div class ="MainLocation">
				<main role = "main" class="mainStyle">

						{% block content %}
						{% endblock %}

				</main>
			</div>

			<!-- FOOTER -->
			<div class="hDivider hDividerBottom" style="width: 20vw; margin-bottom: 49px; margin-left: 7%;"></div>
			<footer role="footer" class="footerStyle">
				<p>
					For any question, Please email us at <a href='mailto:---@gmail.com'>---@gmail.com</a>
				</p>
			</footer>
			<div class="hDivider hDividerBottom" style="width: 25vw; margin-bottom: 43px; margin-left: 10%;"></div>
		</div>

		<!-- RIGHT -->
		<div class="wDivider wDividerRight" style="margin-right: 14.4%;">
		</div>
		<div class="wDivider wDividerRight" style="margin-right: 14.0%;">
		</div>


		<!-- JavaScript -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


	{% block js %}

        {% block scripts %}
        <script src="{% static 'invitation/js/navbarClick.js' %}"></script>
        {% endblock %}
	{% endblock %}

  </body>
</html>
