{% extends 'invitation/base.html' %}

{% block stylesheet %}
<style>
.googleCalendarImg {
  width: 12vw;
  height: auto;
}

strong {
  font-size: calc(8pt + 0.7vw);
  padding-top: 3vh;
  padding-bottom: 3vh;
}

</style>
{% endblock%}

{% block content %}

<div  class="tab-pane info" id="event" role="tabpanel" aria-labelledby="event-tab">

  <h3>INFO 1</h3>
  <h5>line 1</h5>
  <h5>line 2</h5>
  <iframe src="https://www.google.com/maps" width="400" height="300" frameborder="0" style="border:0; margin-top: 7px; margin-bottom:10px" allowfullscreen=""></iframe></th>
  <h3>INFO 2</h3>
  <h5>tba</h5>
  <h5 style="font-style:normal; font-size: calc(8pt + 0.5vw);">* tba </h5><br>
  <h3>INFO 3</h3>
  <h5>
    <a target="_blank" href="">
      <img border="0" class="googleCalendarImg" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif">
    </a>
  </h5>
</div>

{% endblock %}
