{% load static %}

{% block stylesheet %}
<style>

.navLocation {
  width: 70%;
  position: fixed;
  top: 0;
  margin-top: 45px;
  z-index: 1030;

  vertical-align: bottom;
  text-align: right;
}
.navbar {
  padding : 0;
}
.navbar-dark
.navbar-toggler {
  color: white;
  border-color: white;
}
.nav-link {
  padding: 0.5rem 1rem 0 1rem;
  color: white;
  text-decoration: none;
  background-color: black;
  font-weight: 1000;
  font-size: calc(10pt + 1vw);
  padding-right: 5px;
}

/* mouse over link */
a:hover {
 color: #D4AF37;
}


/* selected link */
a:active {
 color: #D4AF37;
}

li a.tabActive {
  color: orange;
}

ul {
  float: right;
  right: 0;
  padding-right: calc(8px + 1vw);
}

#menuLists li {
  float: right;
}

/* .navbar-toggler-icon {
  background-image: url('/static/invitation/img/toggle.jpg');
} */
.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

a.navbarBrandFont {
  font-size: 35px;
  float: left;
}

</style>

{% endblock%}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark navLocation">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle" style="background-color: black;">

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0" id="menuLists">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}" onclick="menuOnClick()">
          <span class="sr-only">(current)</span>
          HOME
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'event' %}" onclick="menuOnClick()">
          TAB 1
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dress' %}" onclick="menuOnClick()">
          TAB 2
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'rsvp' %}" onclick="menuOnClick()">
          TAB 3
        </a>
      </li>
      <li class="nav-item">
        <a target="_blank" class="nav-link" id="registryID" href="url_address" onclick="openRegistry()">
          INFO 4
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'close' %}">
          X
        </a>
      </li>
    </ul>
  </div>

</nav>
{% endblock %}
