{% extends 'invitation/base.html' %}

{% block stylesheet %}
<style>
  table {
    align: center;
    width: 730px;
}
  tr {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  th.labeling {
    padding-left: 45px;
    width: 150px;
  }
  tr{
    vertical-align: top;
  }
</style>
{% endblock%}

{% block content %}
<!-- home -->


<div>

  <h3> Thanks.</h3>
  <br>
  <h3> Bye </h3>
  <br>


</div>

{% endblock %}
