{% extends 'invitation/base.html' %}

{% block stylesheet %}
<style>
h1 {
  font-size: calc(10pt + 3.2vw);
  margin-bottom: 0.5vh;
}

form ul {
  font-weight: normal;
  list-style: none;
  list-style-type: none;
  display:  inline-block;
  white-space: nowrap;
  height: auto;
  width: 100%;
  padding-right: 40px;
}
form ul li {
  float: center;
  text-align: center;
  width: 100%;
}

.choiceLabel {
  width: 50%;
  text-align: right;
  padding-top: 2vh;
  vertical-align: middle;
  font-size: calc(10pt + 0.5vw);
}
.choiceOptions {
  width: 50%;
  /* float: left; */
  text-align: left;
  vertical-align: middle;
  font-size: calc(10pt + 0.5vw);
  padding: 0;
}

th ul { padding: 0; margin: 0; display: inline;}
th ul li {display: inline;}
br {
  height: calc(10pt + 2vh);
}
</style>
{% endblock %}

{% block content %}
<!-- home -->

<div class="tab-pane info" id="rsvp" role="tabpanel" aria-labelledby="rsvp-tab">

  <p style="font-size: calc(8pt + 0.5vw); font-weight:normal; margin-bottom:5%;">TAB 3 </p>

<div style="overflow: auto;">
  <form method="POST">
    {% csrf_token %}

    <h1><b>{{ user.get_username }}</b></h1>
    {{ form.guest_attend }}<br><br><br>
    <h3>*Choice of Number</h3>
    {{ form.guest_entree }}<br><br><br><br><br><br>
    <h3>Comment</h3>
    {{ form.guest_comment }}<br>

    <input type="submit" value="submit" style="border: 1px; margin: 30px; float: right; background-color: black; color:#D4AF37; font-weight:100; font-size:100%;"/>
</form>
</div>
  <p style="align=center; text-align:center; font-size:70%; font-weight: normal;">
    * Blahblahblah<br>
    ** Dubidubababbapa.<br>
    <br>
    <!-- For any question, Please email us at <a href='mailto:sniped03@gmail.com'>sniped03@gmail.com</a> -->
  </p>
</div>

{% endblock %}
