/* GENERAL */
/* background */

.bgImg {
  background: url('/static/invitation/img/bodycontainer2.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  width: 100vw;
  min-width: 1000px;

}

body.bodyStyle{
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

.wDivider {
  background-color: #D4AF37;
  width: 0.1%;
  height: 95vh;
  position: fixed;
}

.wDividerLeft {
  left: 0;
  top: 0;
}

.wDividerRight {
  right: 0;
  bottom: 0;
}

.wDividerCenter{
  padding-left: 15%;
  padding-right: 15%;
}

.hDivider {
  background-color: #D4AF37;
  height: 0.1%;
  position: fixed;
}

.hDividerTop {
  right: 0;
  top: 0;
}

.hDividerBottom {
  left: 0;
  bottom: 0;
}

/* Content Box */

.headerLocation {
  background-color: black;
  position: absolute;
  width: 70%;
  top: 0;
  margin-top: 45px;
  vertical-align: middle;
  text-align: right;
}

.MainLocation{
  position: fixed;
  overflow: auto;

  margin-top: 110px; /* END of MENU*/
  margin-bottom: 50px; /* FOOTER */

  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 150px; */ /*92*/
  width: 70%;
  height: calc(100% - 160px);

  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-weight: 700;
  font-size: calc(10pt + 2vw);
  font-style: normal;
  font-variant: normal;
  text-align: center;
}
.mainStyle {
  /* padding-top: 60px; */
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  align: center;
  /* height: 100%; */
}

/* ****************** */
/*    FOOTER STYLE    */
/* ****************** */

.footerStyle {
  background-color: black;
  position: fixed;
  bottom: 0;

  width:70%;
  height: 30px;
  /* margin-left: 15%;
  margin-right: 15%; */
  text-align: center;
  vertical-align: middle;

  margin-top: 10px;
  margin-bottom: 10px;
}

.footerStyle p {
  font-family: inherit;
  font-style: normal;
  font-variant: normal;
  font-size: calc(10pt + 0.5vw);
  padding-left: 0px;
  padding-top: 0px;
  text-align: center;
  vertical-align: middle;
}
.footerStyle p a{
  marign-bottom: 5px;
  font-size: 110%;
  color: orange;
}

textarea {
  min-width: 350px;
  min-height: 120px;
  max-width: 350px;
  max-height: 200px;
}


/**************/
/* Container  */
/**************/

/* verical centering */
.vcenter {
  top: 50%;
  transform: translate(0, -50%);
  /*  */
}

/* horizontal centering */
.hcenter {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  align-items: center;
  display:flex;
  justify-content: center;
}

/*********************/
/*       FONTS       */
/*********************/

table {
  border-spacing: 10px;
  width: 100%;
}

tr {
  margin-bottom: 10px;
}

th {
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 1.5vw;
  font-weight: normal;
  vertical-align: middle;
}

th.labeling {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 45px;
  width: 200px;
  text-align: right;
  vertical-align: middle;
}

table tr th ul {
  list-style-type: none;
}
table tr th ul li {

}


div.info {
  color: white;
  font-size: calc(12pt + 0.5vw);
  text-align: center;
}

h1 {
  color: #D4AF37;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: calc(12pt + 6vw);
  font-variant:small-caps;
  line-height: normal;
  padding-bottom: 3vh;
}
h3 {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  line-height: normal;
  font-size: calc(10pt + 1.5vw);
  text-decoration: underline;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

h5 {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: calc(10pt + 0.8vw);
  line-height: normal;
  font-weight: normal;
  margin-bottom: 1vh;
}

b {
  color: #B08F26;
}
